.vscode/
raw_data/
raw_data/*
raw_data/*/*
raw_data/*/*/*
processed_data/
processed_data/*
processed_data/*/*
processed_data/*/*/*
processed_data/*/*/*/*
processed_data/*/*/*/*/*
processed_data/*/*/*/*/*/*
processed_data/*/*/*/*/*/*/*
processed_data/*/*/*/*/*/*/*/*
AutoSort_data/
AutoSort_data/*
AutoSort_data/*/*
AutoSort_data/*/*/*
AutoSort_data/*/*/*/*
AutoSort_data/*/*/*/*/*
AutoSort_data/*/*/*/*/*/*
autosort_neuron.egg-info/
autosort_neuron.egg-info/*
autosort_neuron.egg-info/*/*
autosort_neuron.egg-info/*/*/*